body{
    background:black;
    color:#fff;
}
.MainContent{
    display: grid;
    position: absolute;
    grid-template-rows: auto 50px;
    grid-template-columns: repeat(2,1fr);
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.MainContent > button#submitCode{
    height: 100px;
    grid-column: 1/-1;
}

button{
    background: #000;
    color:#fff;
    border:1px solid #fff;
}
button:hover{
    border:1px solid red;
}
button:active{
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.MainContent > div#main{
    background: gray;
    width: 100% !important;
    height: 100% !important;
}
.MainContent > div#data{
    width: 100%;
    height: 100%;
}
.MainContent > div#run{
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
}
div#run > button{
    width: 100%;
    height: 100%;
}